body{
    background-color: #1a1a1a;
    color: white;
    text-align: center;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}

#contenedor{
    margin: 0;
    overflow: hidden; 
    width: 100%;
}

.aside-1{ 
    background-color: #4CB1E2;
    float: left;
    height: 600px;
    width: 20%;
}

.header-2{ 
    background-color: #63B8E5;
    float: left;
    height: 300px;
    width: 60%;

}
.aside-5{ 
    background-color: #4CB1E2;
    float: right;
    height: 600px;
    overflow-y: auto;
    width: 20%;
}

.section-3{ 
    background-color: #085B87;
    float: left;
    height: 300px;
    width: 30%;
}


.section-4{ 
    background-color: #085B87;
    float: left;
    height: 300px;
    width: 30%;
}

.footer-6{ 
    background-color: #98CDED;
    clear: both; 
    height: 100px;
    width: 100%;
}

.botones{
    width: 100px;
    height: 100px;
    transition: transform 0.3s ease;
}

.botones:hover {
    transform: scale(1.1);
}