body{
    background-color: #1a1a1a;
    color: white;
    text-align: center;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}

#contenedor{
    margin: 0;
    overflow: hidden; 
    width: 100%;
}

.aside-1{ 
    background-color: #F7DF1E; 
    float: left;
    height: 600px;
    width: 20%;
    padding: 20px;
    box-sizing: border-box;
    text-align: left;
}

.header-2{ 
    background-color: #F0DB4F;
    float: left;
    height: 300px;
    width: 60%;
    padding: 20px;
    box-sizing: border-box;
    text-align: left;
}

.aside-5{ 
    background-color: #F7DF1E; 
    float: right;
    height: 600px;
    width: 20%;
    padding: 20px;
    box-sizing: border-box;
    text-align: left;
}

.section-3{ 
    background-color: #D4B30C; 
    float: left;
    height: 300px;
    width: 30%;
    padding: 20px;
    box-sizing: border-box;
    text-align: left;
}

.section-4{ 
    background-color: #D4B30C; 
    float: left;
    height: 300px;
    width: 30%;
    padding: 20px;
    box-sizing: border-box;
    text-align: left;
}

.footer-6{ 
    background-color: #FFEB3B; 
    clear: both; 
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botones{
    width: 100px;
    height: 100px;
    transition: transform 0.3s;
}

.botones:hover {
    transform: scale(1.2);
}
